# dependencies
node_modules/
.pnpm-store/

# environment
.env
.env.local
.env.*.local

# build output
dist/
.next/
out/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json